.citizens {
	padding: 0 40px 0 40px;
}

.add-form {
	padding: 15px 0 0 0;
}

.add-form input, select, button {
	font-size: 16px;
	margin: 0 10px 0 0;
}

.buttons  {
	display: flex;
	justify-content: flex-end;
}

.buttons button {
	font-size: 16px;
	cursor: pointer;
	margin: 0 2px 0 10px;
}

.citizens-list {
	width: 100%;
}

.list-element, .table-header {
	cursor: pointer;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.list-element--active {
	background-color: bisque;
}

td, th {
	width: 100%;
	border: 1px solid black;
	padding: 3px;
}